.btn {
    min-height: 40px;
    width: 100%;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    transition: all 0.3s;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    background: #10b981;
    color: white;

    border-radius: 12px;
    padding: 0.6rem 1rem;

    &:hover {
      filter: brightness(1.05);
      transform: translateY(-1px);
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.75;
      transform: none;
  
      svg {
        animation: animate 2s infinite;
      }
    }
  }
  
  @keyframes animate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      background: linear-gradient(90.61deg, #1a3427 2.18%, #1a3427 48.43%, #1a3425 99.83%);
      opacity: 0.4;
    }
  
    100% {
      background: linear-gradient(90.61deg, #1a341b 2.18%, #1a341e 7.06%, #1a341e 90.99%, #1a3420 99.88%);
      opacity: 1;
    }
  }