.component {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;

    .dashboardComponent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        margin: 0 1em 0 0;

        .ganhos {
            width: 100%;
            border-radius: 10px;
            background: #DAB7D8;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            padding: 2em;
        }

        .filter {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1em;
            padding: 1em;
            background: #f3e6f5;
            border-radius: 8px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            
            .infomeses{
                width: 100%;
                text-align: center;
            }
            
            .infoanos{
                width: 100%;
                text-align: center;
            }

            label {
                font-size: 1em;
                margin: 0.5em 0;
                font-weight: bold;
                color: #400E57;
            }

            input[type="range"] {
                border-radius: 25px;
                background-color: #400e5771;
                width: 100%;
                margin: 0.5em 0;
                cursor: pointer;
                -webkit-appearance: none; /* Remove a aparência padrão do controle deslizante do Webkit */
                appearance: none; /* Remove a aparência padrão do controle deslizante */
            }

            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none; /* Remove a aparência padrão do polegar do controle deslizante do Webkit */
                appearance: none; /* Remove a aparência padrão do polegar do controle deslizante */
                width: 16px; /* Largura do polegar */
                height: 16px; /* Altura do polegar */
                background-color: #400E57; /* Cor do polegar */
                border-radius: 50%; /* Forma circular do polegar */
                cursor: pointer; /* Cursor ao pairar sobre o polegar */
            }
        
            input[type="range"]::-moz-range-thumb {
                width: 16px; /* Largura do polegar */
                height: 16px; /* Altura do polegar */
                background-color: #400E57; /* Cor do polegar */
                border-radius: 50%; /* Forma circular do polegar */
                cursor: pointer; /* Cursor ao pairar sobre o polegar */
            }

            div {
                font-size: 1em;
                margin: 0.5em 0;
                color: #333;
            }
            .buttonFilter{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                button {
                    background: #400E57;
                    color: white;
                    padding: 0.5em 1em;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all 0.3s ease;
    
                    &:hover {
                        background: #5f176e;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .component {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;

        .dashboardComponent {
            padding: 0 1.5em;
            margin: 0 !important;

            .gastos {
                width: 100%;
                display: flex;
                flex-direction: column;

                .filters {
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }
            }

            .footercreate {
                flex-direction: column !important;
                gap: 12px;

                .total {
                    display: flex !important;
                    flex-direction: column !important;
                    flex-wrap: wrap !important;
                    align-items: center !important;
                    justify-content: center !important;
                    width: 100% !important;
                    padding: 0.4em !important;

                    .desc {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-bottom: 1em;
                        /* gap: 12px; */
                        padding: 0 0.5em;
                    }

                    p {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}