.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    top: 0;
    position: fixed !important;
    left: 0;
    right: 0;
    background: linear-gradient(108deg, #60ADF3 0%, #97C1E8 100%);
    width: 100%;
    gap: 40px;
    padding: 20px;

    .formContainer {
        display: flex;
        border-radius: 20px;
        background: #ECE1A7;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            background: #ECE1A7;
            max-width: 100%;
            .information {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                margin: 1em;

                .title {

                    color: var(--color-link-default, #5D3D9A);
                    font-family: Arial, Helvetica, sans-serif;

                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;

                }

                h1 {
                    color: var(--color-text-neutral-default, #1E1A34);
                    font-family: Arial, Helvetica, sans-serif;


                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px;
                    margin: .5em 0;


                }

                span {
                    margin: .5em 0;

                    max-width: 100%;

                }

                .lable {
                    margin: .5em 0;

                    color: var(--color-text-neutral-subtle, #474359);
                    font-family: Arial, Helvetica, sans-serif;

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    max-width: 100%;

                }
            }

            .senha {
                margin: 1em;
                width: 100%;

                span {
                    display: flex;
                    align-items: flex-start;
                    flex: 1 0 0;
                    margin: 1em 0;
                    
                }

                input {
                    display: flex;
                    margin: 1em 0;

                    height: 56px;
                    padding: 0px 20px 0px 24px;
                    align-items: center;
                    gap: 12px;
                    align-self: stretch;
                    width: 28em;
                    border-radius: 8px;
                    border: 1px solid var(--color-border-input, #C0BFC6);
                    background: var(--color-backgrounds-input-subtle-default, #FFF);
                }
            }
        }


    }


    .buttonContainer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 0.8em 2em;

        margin: 0.5em;
        border-radius: 20px;
        background: #ECE1A7;

        button {
            display: flex;
            height: 56px;
            padding: 16px 20px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            border: 1px solid #EEEEED;
            border-radius: 4px;
            background: #599E52;
            color: white;
            cursor: pointer;
            transition: all .9s;

            &:hover {
                background: #315f2c;
                color: #FFFFFF;

            }
        }
    }

}