.content {
    display: flex;
    padding: 1em ;
    max-width: 20%;
    .menuLateral {
        border-radius: 20px;
        background: #599E52;
        padding: 1em ;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        .listbutton {
            display: flex;
            flex-direction: column;

            button {
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 10px;
                margin: 1em 0;
                border: none;
                cursor: pointer;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                transition: width 1s, height 1s;
                img {
                    width: 2em; 
                    height: 2em; 
                }
            }

            .ganhos{
                background: #5ABB8C;
                &:hover{
                    background: #82cca8;
                }
            }
            
            .gastos{
                background: #BF5252;
                &:hover{
                    background: #e47b7b;
                }
            }

            .metas{
                background: #138DB4;
                &:hover{
                    background: #5cb0cc;
                }
            }

            .dashboard{
                background: #A663B1;
                &:hover{
                    background: #d39adb;
                }
            }

            .exit{
                background: #FFF;
                margin-top: 6em;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .content{
        max-width: 100% !important;
        .menuLateral{
            padding: 1em 1em;
            .listbutton{
                padding: 0 !important;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                align-content: center;
                button{
                    margin: .8em !important;
                }

                .exit{
                    margin: .8em !important;
                }
            }
        }
    }
}