.fixedheader {
    display: flex;
    align-items: center;
    gap: 24px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    color: #fff;
    padding: 10px 20px;
    //margin: .5em 1em 0 1em;
    border-radius: 20px;
    background: #599E52;
    justify-content: space-between;
    width: 100%;
    .perfil{
        cursor: pointer;
    }
}