.inputMoney {
    display: flex;
    align-items: center;
  }
  
  .currencySymbol {
    margin-right: 5px;
  }
  
  .inputField {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Adicione outros estilos conforme necessário */
  