.content {
    display: flex;

    .direita {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
        gap: 16px;
        align-self: stretch;
        width: 35%;

        .info {
            display: flex;
            padding: 2em;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            align-self: stretch;
            border-radius: 16px;
            background: #FFF;

            h1 {
                color: var(--color-text-neutral-default, #1E1A34);
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
            }

            p {
                color: var(--color-text-neutral-subtlest, #747181);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }

        .componentInput {
            display: flex;
            padding: 2em;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 16px;
            background: #FFF;

            p {
                color: var(--color-text-neutral-default, #1E1A34);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            input {
                display: flex;
                height: 64px;
                padding: 0px 20px 0px 24px;
                align-items: center;
                gap: 12px;
                align-self: stretch;
                border-radius: 8px;
                border: 1px solid var(--color-border-input, #C0BFC6);
                background: var(--color-backgrounds-input-subtle-default, #FFF);
            }

            button {
                display: flex;
                height: 64px;
                padding: 0px 24px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                align-self: stretch;
                cursor: pointer;
                border-radius: 8px;
            }

            .activebutton {
                border: 1px solid #1E1A34;
                color: var(--white);
                background: var(--color-backgrounds-neutral-bold-default, #1E1A34);

                & {
                    svg {
                        animation: animate 2s infinite;
                    }
                }

                &[disabled] {
                    cursor: not-allowed;
                }

                &:hover {
                    filter: brightness(1.08)
                }
            }

            .copylink {
                border: 1px solid #1E1A34;
                color: var(--white);
                background: var(--color-backgrounds-neutral-bold-default, #1E1A34);
            }

            .activelink{
                border: 1px solid #EEEEED;
                color: var(--color-text-disabled, #8A8895);
                background: var(--color-backgrounds-disabled-default, #EEEEED);
            }

            .inativebutton {
                border: 1px solid #EEEEED;
                color: var(--color-text-disabled, #8A8895);
                background: var(--color-backgrounds-disabled-default, #EEEEED);
            }
        }
    }

    .esquerda {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;
        margin: 1em;
        width: 65%;
        border-radius: 16px;
        background: var(--palette-lemon-l-600, #BEDE18);

        img {
            width: 300;
        }

        p {
            padding: 1em;
            color: var(--color-text-neutral-default, #1E1A34);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}