.chatwindow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: height 0.3s ease, width 0.3s ease;
  width: 300px;
  height: 400px;

  &.minimized {
    width: 70px;
    height: 70px;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chatbox {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    &.minimized {
      width: 60px;
      height: 60px;
      padding: 0;
      background: none !important;
      box-shadow: none !important;
    }
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .title {
        font-size: 1.25rem;
        font-weight: bold;
        transition: font-size 0.3s ease;
  
        &.small {
          font-size: 0.75rem;
        }
      }
  
      .minimizebtn {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  
    .openbtn {
      background-color: #3490dc;
      color: white;
      padding: 0.5rem;
      border-radius: 5px;
      width: 100%;
      margin-top: 0.5rem;
      cursor: pointer;
      text-align: center;
    }
  

  
    .messagebox {
      height: 200px;
      overflow-y: auto;
      margin-top: 1rem;
  
  
      
  
      .mymessage,
      .othermessage {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1rem;
      }
  
      .mymessage {
        justify-content: flex-end;
      }
  
      .mymessagebox,
      .othermessagebox {
        padding: 0.5rem;
        border-radius: 8px;
        max-width: 70%;
      }
  
      .mymessagebox {
        background-color: #3490dc;
        color: white;
      }
  
      .othermessagebox {
        background-color: #f3f3f3;
        color: #333;
      }
  
      .messageauthor {
        font-weight: bold;
        font-size: 0.75rem;
      }
  
      .messagetext {
        margin-top: 0.2rem;
      }
    }
    .messages {
      list-style-type: none;
      padding: 0;
    
      .consultorMessage {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1rem;
        text-align: end;
    
        .messageBox {
          padding: 0.5rem;
          border-radius: 8px;
          width: 100%;
          background-color: #5c7176; /* Cor para mensagens do consultor */
          color: #ffffff;
        }
      }
    
      .clienteMessage {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    
        .messageBox {
          padding: 0.5rem;
          border-radius: 8px;
          width: 100%;
          background-color: #2a9d8f; /* Cor para mensagens do cliente */
          color: #ffffff;
        }
      }
    
      .messageAuthor {
        font-weight: bold;
        font-size: 0.75rem;
      }
    }
  
    .messagetext {
      flex-grow: 1; /* Permite que a área de mensagens expanda para ocupar o espaço disponível */
      overflow-y: auto; /* Adiciona a barra de rolagem vertical */
      padding: 0.5rem; /* Adiciona um espaçamento interno */
      margin-bottom: 0.5rem; /* Espaço abaixo da área de mensagens */
      max-height: 300px; /* Altura máxima para limitar a área de mensagens */
    }
  

  
    .exitbtn {
      background-color: #e3342f;
      color: white;
      padding: 0.5rem;
      border-radius: 5px;
      margin-top: 0.5rem;
      cursor: pointer;
      width: 100%;
    }

    .boxSender{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;

      .inputname,
      .inputmessage {
        //width: 100%;
        padding: 0.5rem;
        //margin-top: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ddd;
      }

      .sendbtn {
        background-color: #38c172;
        color: white;
        padding: 0.5rem;
        border-radius: 5px;
        margin-left: .5rem;
        cursor: pointer;
        //width: 100%;
      }
    }
  }
}

.chatwindowopen {
  display: block;
}

.chatwindowhidden {
  display: none;
}


